{% extends 'base-general.html.twig' %}

{% block body %}

<form role="form" action="{{ path('encuesta_create') }}" method="post">
    <div class="row" style="padding: 20px !important; padding-top: 110px !important;">
        <div class="col-md-12">
            {% if msg != "" %}
            <span>{{ msg }}</span>
            {% endif %}

            <table border="1" style="width: 100%; text-align: center">
                <tr>
                    <td rowspan="2" width="15%"><img src="{{asset('images/logox48.jpg')}}" /></td>
                    <td rowspan="2" width="60%" valign="middle">
                        <h4>{{encuesta.nombre}}</h4>
                    </td>
                    <td width="25%" valign="middle">Código:<br /> {{encuesta.codigo}}</td>
                </tr>
                <tr>
                    <td valign="middle">Rev: {{encuesta.rev}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12 tb-encuesta-justify">
            <br />
            <p>{{encuesta.descripCabecera}}</p>

            Empresa: <input id="empresa" name="empresa" type="text" required />

        </div>

        <div class="col-md-12">
            <br />
            <table border="1" style="width: 100%;">
                <tr>
                    <td rowspan="2" width=60%" align="center">
                        Evalúe en la escala del 2 al 5 los siguientes aspectos:
                    </td>
                    <td width="10%" align="center">2</td>
                    <td width="10%" align="center">3</td>
                    <td width="10%" align="center">4</td>
                    <td width="10%" align="center">5</td>
                </tr>
                <tr>
                    <td align="center">M</td>
                    <td align="center">R</td>
                    <td align="center">B</td>
                    <td align="center">MB</td>
                </tr>

                {% for query in preguntas %}
                {% if query.pregunta.tipo.tipo == "Literal" %}
                <tr>
                    <td>{{query.pregunta.enunciado}}</td>
                    <td align="center"><input type="radio" id="{{ query.orden }}_2" name="literal_{{ query.orden }}"
                            value="2" /></td>
                    <td align="center"><input type="radio" id="{{ query.orden }}_3" name="literal_{{ query.orden }}"
                            value="3" /></td>
                    <td align="center"><input type="radio" id="{{ query.orden }}_4" name="literal_{{ query.orden }}"
                            value="4" /></td>
                    <td align="center"><input type="radio" id="{{ query.orden }}_5" name="literal_{{ query.orden }}"
                            value="5" /></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr>
                    <td colspan="5">TOTAL ALCANZADO: <span id="total">0</span></td>
                </tr>

                {% for query in preguntas %}
                {% if query.orden == 8 %}
                <tr>
                    <td colspan="5">
                        {{query.pregunta.enunciado}}
                        <br />
                        <textarea id="{{ query.orden }}" name="{{ query.orden }}" style="width: 100%;"></textarea>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                {% for query in preguntas %}
                {% if query.orden == 9 %}
                <tr>
                    <td colspan="5">
                        {{query.pregunta.enunciado}}
                        SI <input type="radio" id="{{ query.orden }}_1" name="{{ query.orden }}" value="1" /> &nbsp;
                        NO <input type="radio" id="{{ query.orden }}_0" name="{{ query.orden }}" value="0" />
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                {% for query in preguntas %}
                {% if query.orden == 10 %}
                <tr>
                    <td colspan="5">
                        {{query.pregunta.enunciado}}
                        <br />
                        <textarea id="{{ query.orden }}" name="{{ query.orden }}" style="width: 100%;"></textarea>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                {% for query in preguntas %}
                {% if query.orden == 11 %}
                <tr>
                    <td colspan="5">
                        {{query.pregunta.enunciado}} <br />
                        <input type="radio" id="{{ query.orden }}_1" name="{{ query.orden }}" value="1" /> Servicios de
                        Importación <br />
                        <input type="radio" id="{{ query.orden }}_2" name="{{ query.orden }}" value="2" /> Servicios de
                        Exportación <br />
                        <input type="radio" id="{{ query.orden }}_3" name="{{ query.orden }}" value="3" /> Otros
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                {% for query in preguntas %}
                {% if query.orden == 12 %}
                <tr>
                    <td colspan="5">
                        {{query.pregunta.enunciado}} <br />
                        <input type="radio" id="{{ query.orden }}_1" name="{{ query.orden }}" value="1" /> Sin dudas lo
                        recomdaría <br />
                        <input type="radio" id="{{ query.orden }}_2" name="{{ query.orden }}" value="2" /> No lo haría
                        <br />
                        <input type="radio" id="{{ query.orden }}_3" name="{{ query.orden }}" value="3" /> Lo pensaría
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr>
                    <td colspan="5">
                        <p>{{encuesta.descripFinal}}</p>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div style="text-align: right; padding: 20px;">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>

</form>


{% endblock %}

{% block javascripts %}
<script>
    var literal = [];

    var calculate = function () {

        var sum = 0;
        for (var i = 0; i < 7; i++) {
            if (literal[i] != undefined)
                sum += parseInt(literal[i]);
        }

        $("#total").html(sum);

    };
    $(document).ready(function () {

        $("input[name='literal_1']").change(function () {
            literal[0] = $(this).val();
            calculate();
        });

        $("input[name='literal_2']").change(function () {
            literal[1] = $(this).val();
            calculate();
        });

        $("input[name='literal_3']").change(function () {
            literal[2] = $(this).val();
            calculate();
        });

        $("input[name='literal_4']").change(function () {
            literal[3] = $(this).val();
            calculate();
        });

        $("input[name='literal_5']").change(function () {
            literal[4] = $(this).val();
            calculate();
        });

        $("input[name='literal_6']").change(function () {
            literal[5] = $(this).val();
            calculate();
        });

        $("input[name='literal_7']").change(function () {
            literal[6] = $(this).val();
            calculate();
        });

    })

</script>
{% endblock %}