{% extends 'base-general.html.twig' %}

{% block body %}

<section id="bannerImportacion" class="banner-sec">
  <img src="{{asset('images/banner-export.jpg')}}" class="img-fluid" alt="Placeholder image">
</section>

<section id="contExport">

  <div class="container myContainer text-center">
    <div class="row">
      <div class="col-12 ">
        <h1 class="h1-secciones">{% trans %}h_exportaciones{% endtrans %}</h1>
        <p>{% trans %}p_export_text1{% endtrans %}</p>
        <p>{% trans %}p_export_text2{% endtrans %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 ">
        <h2 class="red-text">01</h1>
          <h2>{% trans %}h_idx_renglones{% endtrans %}</h2>

      </div>
    </div>
    <div class="col-12 ">

    </div>

  </div>
</section>
<section id="renglonesExportacionExp">
  <div class="container myContainer">
    <div class="carousel slide" data-ride="carousel" data-interval="false">

      <div class="carousel-inner" role="listbox">

        {% for key, renglon in renglones %}

        {% if key % 5 == 0 %}                
        {% if key== 0 %}
        <div class="carousel-item active ">
        {%else%}
        <div class="carousel-item">
        {%endif%}
        <div class="row">
          <div class="col-1 d-none d-md-block d-lg-block  d-xs-block"></div>
        {%endif%}

        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-4 ">
          <div id="{{renglon.id}}" class="card-renglon"> <img class="card-img-top" src="{{ asset('uploads/imagenes/' ~ renglon.imagen) }}"
              alt="nombre del renglon">
            <div class="card-body">
              <h5 class="card-title">{%if locale == 'es' %}{{ renglon.nombre }} {%else%} {{renglon.nombreEn}}
                {%endif%}</h5>
              <p class="card-text">{%if locale == 'es' %}{{ renglon.descripcion }} {%else%} {{renglon.descripcionEn}}
                {%endif%}</p>
            </div>
          </div>
        </div>

        {% if (key + 1) % 5 == 0 or (key + 1) >= renglones|length %}
        <div class="col-1 d-none d-md-block d-lg-block  d-xs-block"></div>
        </div>
        </div>
        {%endif%}
        

        {% else %}
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-4 ">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{% trans %}msg_no_registros{% endtrans %}</p>
            </div>
          </div>
        </div>
     
        {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carrouselRenglones" role="button" data-slide="prev"> <span
      class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
  <a class="carousel-control-next" href="#carrouselRenglones" role="button" data-slide="next"> <span
      class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
  </div>
  <div class="fluid-container" style="overflow: hidden;">
    <div class="row text-center margin-topx2">
      <div class="col-12">
        <h2 class="red-text">02</h2>
        <h2>{% trans %}h_proyectos_renglon{% endtrans %}</h2>
      </div>

    </div>
  </div>
</section>

<section id="proyectoSeleccionado" class="resalt-section">
  <div class="container myContainer">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-10 col-sm-12 text-sm-center text-lg-left order-md-12">
            <img class="img1" src="images/img-proyecto.jpg"
              class="img-fluid" alt="Placeholder image"></div>
          <div class="col-md-2 col-sm-12 ">
            <ul>
              <li class="active"><a href="#"><img class="img1" src="images/img-proyecto-min.jpg" width="81" class="img-fluid"
                    alt="Placeholder image"></a></li>
              <li><a href="#"><img id="img2" src="images/img-proyecto-min.jpg" class="img-fluid" alt="Placeholder image" width="81"></a></li>
              <li><a href="#"><img id="img3" src="images/img-proyecto-min.jpg" class="img-fluid" alt="Placeholder image" width="81"></a></li>

              <li><img id="renglon" src="images/renglon.jpg" class="img-fluid" width="81"/></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-6 text-sm-center text-lg-left margin-top-sm">
        <h2 id="name">Nombre del proyecto</h2>
        <span>{% trans %}t_view_avance{% endtrans %}</span>
        <p id="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        </p>
      </div>


    </div>
  </div>
</section>
<section id="listProyectos">
  <div class="container myContainer">
    <div class="row">
      <div class="col-12">
        <div class="card-columns">

          {% for proy in proyectos %}

          <div class="card p-3 renglon-{{proy.renglon.id}}" style="display: none;"> <img id="img1-{{proy.id}}" class="card-img-top" src="{{ asset('uploads/imagenes/' ~ proy.imagen1) }}"
              width="145" height="82" alt="Card image cap">
            <div class="card-body">              
              <h5 class="card-title" id="name-{{proy.id}}">
                {%if locale == 'es' %}{{ proy.nombre }} {%else%} {{proy.nombreEn}}
                {%endif%}
              </h5>
              <span style="display: none;" id="desc-{{proy.id}}">{%if locale == 'es' %}{{ proy.descripcion }} {%else%} {{proy.descripcionEn}}{%endif%}</span>
              <input type="hidden" id="img2-{{proy.id}}" value="{{ asset('uploads/imagenes/' ~ proy.imagen2) }}">
              <input type="hidden" id="img3-{{proy.id}}" value="{{ asset('uploads/imagenes/' ~ proy.imagen3) }}">
              <input type="hidden" id="renglon-{{proy.id}}" value="{{ asset('uploads/imagenes/' ~ proy.renglon.imagen) }}">
            </div>
            <div class="card-footer text-center"><a id="{{proy.id}}" href="#proyectoSeleccionado"
                class="btn btn-dark">{% trans %}link_view_proyecto{% endtrans %}</a>
            </div>
          </div>
          {% else %}
          {% trans %}msg_no_registros{% endtrans %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="galeriaImport">
  <div class="container myContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="red-text">03</h2>
        <h2>{% trans %}h_export_galeria{% endtrans %}</h2>
      </div>
    </div>
    <div class="row galeria margin-top margin-bottom text-center">

      {% for img in galerias %}

      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a href="{{ asset('uploads/imagenes/' ~ img.imagen) }}" data-fancybox="gallery" data-caption="Caption #1">
        <img src="{{ asset('uploads/imagenes/' ~ img.imagen) }}" width="400" class="img-fluid" alt="Placeholder image"></a></div>
      {% else %}
      <li>{% trans %}msg_no_registros{% endtrans %}</li>
      {% endfor %} 


    </div>
  </div>
</section>

{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    $(".who-active").removeClass("active");
    $("#expLink").addClass("active");
  })

</script>
{% endblock %}