{% extends 'base.html.twig' %}


{% block body %}  

<h1 class="h3 mb-2 text-gray-800">Renglones</h1>
<p class="mb-4"></p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3 flex">
    <h5 class="m-0 font-weight-bold text-primary" style="display:inline">Lista</h5>
    <a name="" id="" class="btn btn-primary float-right" href="{{ path('renglon_new') }}" role="button">Nuevo</a>
    
  </div>
  
  <div class="card-body">
    {% if error != '' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}        
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>                
                <th>Nombre</th>
                <th>Nombre Inglés</th>
                <th>Descripción</th>
                <th>Descripción Inglés</th>
                <th>Imagen</th>                
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Nombre Inglés</th>
              <th>Descripción</th>
              <th>Descripción Inglés</th>
              <th>Imagen</th> 
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% for renglon in renglones %}
                <tr>                    
                  <td>{{ renglon.nombre }}</td>
                  <td>{{ renglon.nombreEn }}</td>
                  <td>{{ renglon.descripcion }}</td>
                  <td>{{ renglon.descripcionEn }}</td>
                  <td><a target="_blank" href="{{ asset('uploads/imagenes/' ~ renglon.imagen) }}"><img class="img-thumbnail rounded" style="max-width:100px" src="{{ asset('uploads/imagenes/' ~ renglon.imagen) }}" /></a></td>             
                  <td >
                    <a class="btn btn-success" href="{{ path('renglon_edit', {'id': renglon.id}) }}">Editar</a>
                    {{ include('renglon/_delete_form.html.twig') }}
                    
                  </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No hay registros</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
