<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    {% block stylesheets %}
      {# 'app' must match the first argument to addEntry() in webpack.config.js #}
      {{ encore_entry_link_tags('app') }}

      <style>
        #accordionSidebar {
          background: darkred url({{asset('images/background.jpg')}}) no-repeat !important;
          background-size: cover !important;
        }
        .text-primary {
            color: indianred !important;
        }

        .btn-primary, .page-item.active, .page-link {
          color: #fff !important;
          background-color: #5a5c69 !important;
          border-color: darkgrey !important;
        }

        .btn-primary:hover  {
          background-color: darkred !important;
          border-color: red !important;
        }

        .tb-encuesta-margin {
          margin: 10px;
        }
        .tb-encuesta-border {
          border: 1px solid black;
        }
        .tb-encuesta-center {
          text-align: center;
        }
        .tb-encuesta-justify {
          text-align: justify;
        }        
      </style>

      <!--  Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css">  -->
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet" />
    <title>
      BK Import - Export
    </title>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{{ path('home') }}">
          <img src="{{asset('images/logox48.jpg')}}" />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        {% if is_granted('ROLE_ADMINISTRADOR') %}
        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
          <a class="nav-link" href="{{ path('noticia_index') }}">          
            <i class="fas fa-fw fa-sticky-note" aria-hidden="true"></i>
            <span>Noticia</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('renglon_index') }}">          
            <i class="fas fa-fw fa-ship" aria-hidden="true"></i>
            <span>Renglones de Exportación</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('proyecto_index') }}">          
            <i class="fas fa-fw fa-building" aria-hidden="true"></i>
            <span>Proyectos</span>
          </a>
        </li>        

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('proveedor_index') }}">          
            <i class="fas fa-fw fa-truck" aria-hidden="true"></i>
            <span>Proveedores</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('cliente_index')}}">          
            <i class="fas fa-fw fa-user-circle" aria-hidden="true"></i>
            <span>Clientes</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('galeria_index')}}">          
            <i class="fas fa-fw fa-image" aria-hidden="true"></i>
            <span>Galería</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('usuario') }}">          
            <i class="fas fa-fw fa-users" aria-hidden="true"></i>
            <span>Usuarios</span>
          </a>
        </li>
        
        {% endif %} 

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.nombre }} {{ app.user.apellidos }}</span>
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>                
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('perfil_edit', {'id': app.user.id}) }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('pass_edit', {'id': app.user.id}) }}">
                  <i class="fa fa-user-secret fa-sm fa-fw mr-2 text-gray-400" aria-hidden="true"></i>
                  Cambiar Password
                </a>                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">       

         {% block body %}
         {% endblock %}

         

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sitio Web BK {{ "now"|date("Y") }}</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    </div>
    
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Listo para salir ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccione "Salir" si desea abandonar el sistema.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{{ path('app_logout') }}">Salir</a>
          </div>
        </div>
      </div>
    </div>
    {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('sb-admin') }}
    {% block javascripts %}
      
      <!--  Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script>  -->
    {% endblock %}
  </body>
</html>
